.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

form {
  margin-top: 5%;
  margin-left: 5%;

}

.button-row {

  /*margin-left: 5%;*/
}

.login_button {
  background-color: #e61414;
}
h2 {
  /*text-align: center;*/
  border-bottom-style: solid;
  border-bottom-color: #e61414;
  border-bottom-width: 3px;
}
