button {
  margin-top: 20px;
}
.charge p{
  width: 99%;
  word-wrap:break-word;
}
.cash p{
  width: 99%;
  word-wrap:break-word;
}
h2{
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #8B0000;
}
