.index .example-card {


  float: left;
  margin:10px;
  display: block; float: left; position: relative;
  background-color: white;
  color: white;
  padding:  0px;
  border-radius: 3px;
}
.index {
  background-color: #f5f5f5;
}
/*.index{*/
  /*float: left; width: 100%; overflow: hidden; position: relative;*/
  /*border-style: solid;*/
  /*border-top: none;*/
  /*border-color: #b1b1b1;*/
  /*border-width: 1px;*/
  /*border-bottom-color: white;*/

/*}*/
@media only screen and (min-width: 451px){
  .index{
    float: left;
    width: 100%;
    overflow: hidden;
    position: relative;
    width:80%;
    margin-left:10%;
    margin-right: 10%;

  }
  .index .example-card {

    width: 23%;
    float: left;
    margin: 1%;
    display: block; float: left; position: relative;
  }
}
@media only screen and (max-width: 450px){
  /* 手机 */
  .index .example-card {
    /*width:100%;*/
    /*max-width: 250px;*/
    width: 31%;
    margin: 1%;
    float: left;
    margin-bottom:10px;
    display: block; float: left; position: relative;
  }
  /deep/ .index .mat-card-title {
    font-size: 12px;
  }

}
/*@media only screen and (min-width: 766px) and (max-width: 1024px){*/
  /*!*这里写宽度大于321px小于1024px的样式(一般是平板电脑)*!*/
  /*.index .example-card {*/

    /*max-width: 250px;*/
    /*float: left;*/
    /*margin:10px;*/
    /*display: block; float: left; position: relative;*/
  /*}*/
/*}*/

.index .example-header-image {

  background-size: cover;
}

.index .mat-raised-button{
  width: 100%;
}
.index .index-title {
  text-align: left;
  background-color: rgba(0,0,0,.04);
  color: rgba(0,0,0,.7);
}


/*.index .nav{*/
  /*clear: left; float: left; position: relative; left: 50%;!*整个分页向右边移动宽度的50%*! text-align: center;*/
/*}*/

.index .join_button {
  background-color: #f5a623;
  padding: 0px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

/deep/ .index .mat-card-content {
  color: rgba(0,0,0,.7) !important;
  margin: 10px;
  height: 24px !important;
}
/deep/ .index .mat-card-header {
  background-color: #e61414 !important;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
/deep/ .index .mat-card-image {
  width:100% !important;
  margin: 0px!important;
  margin-top: 10px !important;
}
/deep/ .index .mat-card-actions {

  margin: 0px!important;
}

/deep/ .index .mat-card-title {
  /*margin-bottom: 16px !important;*/
  /*margin-top: 16px !important;*/
}

.subtitle {
  width: 50%;
  float: left;
}
.subtitle_icon {
  text-align: right;
  width: 50%;
}

.vip_only {
  background-color: #acacac;
  font-size: 12px;
  padding: 0px;
}
.content_right {
  width: 50%;
  float: left;
  text-align: center;
  border-bottom-style: dashed;
  border-bottom-color: lightgray;
  border-bottom-width: 1px;
}

.content_left {
  width: 50%;
  float: left;
  opacity: .87;
}

.content_form {
  width: 100%;
  float: left;
}
