<div class="body">

  <button mat-raised-button color="primary" class="index-title">VIP专区</button>
      <div class="nav">
        <mat-card class="example-card">
          <mat-card-header>

            <mat-card-title>欧冠</mat-card-title>
            <!--<mat-card-subtitle>Dog Breed</mat-card-subtitle>-->
          </mat-card-header>
          <img mat-card-image src="/assets/uefa.jpg" alt="Russia 2018">
          <mat-card-content>
            <p>
              玩法介绍玩法介绍
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="primary" disabled class="vip_only">VIP ONLY</button>
            <!--<button mat-button>SHARE</button>-->
          </mat-card-actions>
        </mat-card>
        <mat-card class="example-card">
          <mat-card-header>

            <mat-card-title>英超</mat-card-title>
            <!--<mat-card-subtitle>Dog Breed</mat-card-subtitle>-->
          </mat-card-header>
          <img mat-card-image src="/assets/eng.jpg" alt="Russia 2018">
          <mat-card-content>
            <p>
              玩法介绍玩法介绍
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="primary" disabled>VIP ONLY</button>
            <!--<button mat-button>SHARE</button>-->
          </mat-card-actions>
        </mat-card>
        <mat-card class="example-card">
          <mat-card-header>

            <mat-card-title>西甲</mat-card-title>
            <!--<mat-card-subtitle>Dog Breed</mat-card-subtitle>-->
          </mat-card-header>
          <img mat-card-image src="/assets/esn.jpg" alt="Russia 2018">
          <mat-card-content>
            <p>
              玩法介绍玩法介绍
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="primary" disabled>VIP ONLY</button>
            <!--<button mat-button>SHARE</button>-->
          </mat-card-actions>
        </mat-card>
        <mat-card class="example-card">
          <mat-card-header>

            <mat-card-title>意甲</mat-card-title>
            <!--<mat-card-subtitle>Dog Breed</mat-card-subtitle>-->
          </mat-card-header>
          <img mat-card-image src="/assets/ita.jpg" alt="Russia 2018">
          <mat-card-content>
            <p>
              玩法介绍玩法介绍
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="primary" disabled>VIP ONLY</button>
            <!--<button mat-button>SHARE</button>-->
          </mat-card-actions>
        </mat-card>

        <mat-card class="example-card">
          <mat-card-header>

            <mat-card-title>德甲</mat-card-title>
            <!--<mat-card-subtitle>Dog Breed</mat-card-subtitle>-->
          </mat-card-header>
          <img mat-card-image src="/assets/deu.jpg" alt="Russia 2018">
          <mat-card-content>
            <p>
              玩法介绍玩法介绍
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="primary" disabled>VIP ONLY</button>
            <!--<button mat-button>SHARE</button>-->
          </mat-card-actions>
        </mat-card>

        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>5D彩</mat-card-title>
            <!--<mat-card-subtitle>Dog Breed</mat-card-subtitle>-->
          </mat-card-header>
          <img mat-card-image src="/assets/fra.jpg" alt="Russia 2018">
          <mat-card-content>
            <p>
              玩法介绍玩法介绍
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="primary" disabled>VIP ONLY</button>
            <!--<button mat-button>SHARE</button>-->
          </mat-card-actions>
        </mat-card>
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>大乐透</mat-card-title>
            <!--<mat-card-subtitle>Dog Breed</mat-card-subtitle>-->
          </mat-card-header>
          <img mat-card-image src="/assets/fra.jpg" alt="Russia 2018">
          <mat-card-content>
            <p>
              玩法介绍玩法介绍
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="primary" disabled>VIP ONLY</button>
            <!--<button mat-button>SHARE</button>-->
          </mat-card-actions>
        </mat-card>
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>11选5</mat-card-title>
            <!--<mat-card-subtitle>Dog Breed</mat-card-subtitle>-->
          </mat-card-header>
          <img mat-card-image src="/assets/fra.jpg" alt="Russia 2018">
          <mat-card-content>
            <p>
              玩法介绍玩法介绍
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="primary" disabled>VIP ONLY</button>
            <!--<button mat-button>SHARE</button>-->
          </mat-card-actions>
        </mat-card>
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>双色球</mat-card-title>
            <!--<mat-card-subtitle>Dog Breed</mat-card-subtitle>-->
          </mat-card-header>
          <img mat-card-image src="/assets/fra.jpg" alt="Russia 2018">
          <mat-card-content>
            <p>
              玩法介绍玩法介绍
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="primary" disabled>VIP ONLY</button>
            <!--<button mat-button>SHARE</button>-->
          </mat-card-actions>
        </mat-card>
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>七乐彩</mat-card-title>
            <!--<mat-card-subtitle>Dog Breed</mat-card-subtitle>-->
          </mat-card-header>
          <img mat-card-image src="/assets/fra.jpg" alt="Russia 2018">
          <mat-card-content>
            <p>
              玩法介绍玩法介绍
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="primary" disabled>VIP ONLY</button>
            <!--<button mat-button>SHARE</button>-->
          </mat-card-actions>
        </mat-card>
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>快3</mat-card-title>
            <!--<mat-card-subtitle>Dog Breed</mat-card-subtitle>-->
          </mat-card-header>
          <img mat-card-image src="/assets/fra.jpg" alt="Russia 2018">
          <mat-card-content>
            <p>
              玩法介绍玩法介绍
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="primary" disabled>VIP ONLY</button>
            <!--<button mat-button>SHARE</button>-->
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
