.lucky{
  background-color: #e61414;
  color: white;
  text-align: center;
  border-radius: 3px;
}
.unlucky{
  background-color: #acacac;
  color: white;
  text-align: center;
  border-radius: 3px;
}
.inprogress{
  background-color: #1a8b3d;
  color: white;
  text-align: center;
  border-radius: 3px;
}
.game-list .mat-cell{
  /*text-align: center;*/
}
.game-list .mat-header-cell{
  text-align: center;
}

/deep/ .game_filter .mat-form-field-underline {
  height: 0px !important;
}
.game_filter .mat-input-element{
  border-style: solid;
  border-width: 1px;
  height: 25px;
  border-color: #acacac;
}

.game_filter .mat-form-field {
  margin-left: 20%;
  margin-right: 20%;
  width:60%;
}
::ng-deep .mat-sort-header-arrow.ng-trigger.ng-trigger-arrowPosition {
  opacity: 0;
}

::ng-deep .mat-sort-header-pointer-left.ng-trigger.ng-trigger-leftPointer{
  transform: rotate(-45deg);
}
::ng-deep .mat-sort-header-pointer-right.ng-trigger.ng-trigger-rightPointer{
  transform: rotate(45deg);
}
